/*form validation*/
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #d14;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 0px;

}

.cmxform .controls label.error {
    display: inline;
    margin: 0;
    color: #B94A48;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus, .cmxform .controls input.error , .cmxform .controls textarea.error{
    border-color: #B94A48 !important;
}

#signupForm label.error {
    display: inline;
    width: auto;
    color: #B94A48;
}